.container {
    background-color: black;
}

#bigCounter div{
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 10px;
    font-size: 50px;
    line-height: 75px;
    margin: 2px;
}